%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
  %title Site Title | Site Name
  %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %link{:href => "unique page url", :rel => "canonical"}/
  / Device viewport settings
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  / Description no longer than 155 characters
  %meta{:content => "___FILL_IN___", :name => "keywords"}/
  %meta{:content => "___FILL_IN___", :name => "Description"}/
  %meta{:content => "index,follow", :name => "robots"}/
  %meta{:content => "site name", :property => "og:site_name"}/
  %meta{:content => "___page_title___", :property => "og:title"}/
  %meta{:content => "___page_description___", :property => "og:description"}/
  %meta{:content => "___canonical_URL___", :property => "og:url"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "___img_path___", :property => "og:image"}/
  / Use name of page see https://schema.org/docs/gs.html#microdata_itemprop
  %meta{:content => "___FILL_IN___", :itemprop => "name"}/
  / URL of page
  %meta{:content => "___FILL_IN___", :itemprop => "url"}/
  / Twitter card
  %meta{:content => "summary", :name => "twitter:card"}/
  %meta{:content => "@twitter_site_account", :name => "twitter:site"}/
  %meta{:content => "___title___", :name => "twitter:title"}/
  %meta{:content => "___url___", :name => "twitter:url"}/
  %meta{:content => "___meta desc.___", :name => "description"}/
  / Use whatever verification string that Michael Googlé gives you
  %meta{:content => "google'sVerificationString", :name => "google-site-verification"}/
  / Apple "Touch Icon"
  %meta{:href => "/touch-icon.png", :rel => "apple-touch-icon"}/
